@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 0 0% 3.9%;

        --radius: 0.5rem;

        --cl-social-button: 0 0% 100%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --ring: 0 0% 83.1%;

        --cl-social-button: 0 0% 98%;
    }

    .cl-socialButtonsIconButton {
        @apply bg-foreground hover:bg-foreground/90
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/*Themes for clerk*/
/*From: https://github.com/stormynight9/clerk-shadcn-theme*/
.cl-formButtonPrimary {
    @apply inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md bg-primary px-3 text-xs font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

.cl-card,
.cl-socialButtonsBlockButton,
.cl-alert,
.cl-identityPreview,
.cl-phoneInputBox {
    @apply border border-input bg-background;
}

.cl-headerTitle {
    @apply text-foreground
}

.cl-formFieldLabel {
    @apply text-foreground;
}



.cl-headerSubtitle,
.cl-dividerText,
.cl-footerActionText,
.cl-alertText,
.cl-formFieldInfoText,
.cl-formFieldSuccessText,
.cl-identityPreviewText,
.cl-formHeaderSubtitle {
    @apply text-muted-foreground;
}

.cl-dividerLine {
    @apply bg-border;
}

.cl-formFieldInput {
    @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-footerActionLink {
    @apply text-accent-foreground underline;
}

.cl-otpCodeFieldInput {
    @apply border border-b-input text-foreground;
}

.cl-formResendCodeLink {
    @apply text-primary disabled:opacity-90;
}

.cl-selectSearchInput__countryCode {
    @apply flex h-10 w-full rounded-md border border-b border-input bg-background text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-selectOptionsContainer__countryCode {
    @apply border border-input bg-background;
}

.cl-internal-icon {
    @apply text-foreground;
}
